/*.......This is the Membership Css Code........*/

.Membership-Container{
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 85%;
}
.Membership-Container p{
    color: green;
    margin: 30px 0px 40px 80px ;
    font-size: 23px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-left:rgb(255, 166, 0) solid 3px;
}
.Membership-Container h2{
    color:rgb(255, 166, 0);
    margin-bottom: 20px;
    margin-left: 50px;
}
.Membership-Container h1{
    margin-bottom: 25px;
    font-size: 35px;
}

@media screen and (max-width: 1000px){
.Membership-Container {
    margin-right: 10px;
}
}
