*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.SupportUs-Container{
    display: flex;
    width: 100%;
    height: 450px;
    max-width: 1300px;
    margin: auto;
    background-image:url(./ChristianUnionImage3.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.First-Section{
    flex-basis: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
    background-color: rgba(26, 184, 224, 0.877);
    padding-right: 30px;
}
.Second-Section{
    flex-basis: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(18, 18, 136, 0.918) ;
}
.First-Section h1{
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 30px;
}
.First-Section p{
    line-height: 35px;
    margin-bottom: 40px;
    font-size: 18px;
}
.First-Section button{
    text-transform: uppercase;
    background-color:  rgb(12, 12, 97);
    color: white;
    padding: 7px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 4px 5px 2px 3px rgb(7, 7, 7);
}
.Second-Section p{
    color: rgb(239, 234, 243);
    margin-bottom: 10px;
    font-size: 25px;
    font-style: italic;

}
#First-Paragraph{
    padding: 90px 60px 0px;
}
#Second-Paragraph{
   padding: 0px 60px 0px;
}

@media only screen and (max-width: 1050px) {
    
    #Screen-Size {
        width: 95%;
        display: block !important;
        background-image: url(./ChristianUnionImage3.JPG);
        background-size: contain ;
        background-position: center;
        background-repeat: repeat;
    }
    .First-Section{
    padding-bottom: 30px;
    background-color:rgba(26, 184, 224, 0.877) ; 
    }
    .First-Section h1{
        padding-top: 25px;
    }
    .Second-Section{
    padding-bottom: 0px;
    background-color:rgba(18, 18, 136, 0.918)  !important;   
    }
}