*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1.5px orange solid;
    margin: 2px auto 0px;
    padding: 15px 15px;
    font-family: Tahoma;
    background-color: rgba(59, 226, 226, 0.452);
    width: 90%;
}
/*...........Introduction Part Css....................*/
.Main-Container{
    font-family: "Times-New-Roman";

}
b{
    font-size: 100px;
    font-weight: bold;
    
}
.Intro-Container{
    width:95%;
    background-color: aquamarine;
    margin: 15px auto;
    padding: 15px 35px;
}
.Intro-Container h1{
    font-size:35px;
    color:rgb(235, 175, 64);
    font-family: Tahoma;
    padding: 15px 0px 15px 0px;
    margin-left: -4px;
    margin-bottom: 30px;
    
}
.Intro-Container p{
    font-size: 25px;
    margin-bottom: 22px;
    color: rgb(0, 0, 0);
    line-height:30px;
    
}
.IntroP-1{

}
.IntroP-2{

}
.IntroP-3{
 border-bottom: 2px solid red;
 padding-bottom: 50px;
}
/* .......The Media Query for change in screen size for the Intro Conateiner;........*/
@media screen and (max-width: 1100px) {
    .Intro-Container{
        width:95%;
    }
    
}
/*.........The Cu Information including Motto, Vision and Mission Statement.......*/

.CuInfo-Container{
 margin: 20px;
 display: flex;
 width: 95%;
 flex-wrap: wrap;
 justify-content: space-around;
}
.CuInfo-Heading{
    color:rgb(10, 10, 10);
    font-size: 40px;
    padding-left: 70px;
    text-decoration: underline double;
}
.CuInfo-Container h2{
    color:blueviolet;
    font-size: 30px;
    padding: 0px 25px 20px 15px;
}
.CuInfo-Container p{
    color:rgb(0, 0, 0);
    font-size: 25px;
    padding: 0px 50px 0px 20px;
}
.CuInfo-Container div{
    background-color: rgba(252, 80, 0, 0.753);
    padding: 20px;
    height: 90%px;
    
}
.CuInfo-1{
    flex-basis: 35%;
    align-self: auto;
    margin: auto;
}
.CuInfo-2{
    flex-basis: 50%;
}
.CuInfo-3{
    
    flex-basis: 60%;
    margin-top: 40px;
    padding-top: 20px;
}


@media screen and (max-width: 1000px){
.Intro-Container p{
    font-size: 23px;
}
.CuInfo-Container{
    display: block;
    margin: 50px auto;
    width: 70%;
}
.CuInfo-2{
    margin-top: 50px;
    height: 100%;
}
}
@media screen and (max-width: 900px){
    .CuInfo-Container p{
        font-size: 22px;
        word-spacing: 5px;
        color: black;
    }
}
@media screen and (max-width: 750px){
    .Intro-Container p{
        font-size: 20px;
    }
    .CuInfo-Container p{
        font-size: 20px;
        color: black;
        width:100%;
    }
    .CuInfo-Heading{
        padding-left: 10px;
        font-size: 32px;
}
}
@media screen and (max-width: 500px){
    .CuInfo-Container{
        height: fit-content;
    }
}
/*....Aims Conatiner......*/

.Aims-Container{
 padding: 20px;
 background-color: rgb(238, 225, 201);
 margin: 20px auto;
 width: 95%;
}
.Aims-Heading{
    margin-bottom: 20px;
    font-size: 35px;
    padding:30px 50px;
}
.Aims-Container h3{
    font-size: 30px;
    font-family: tahoma;
    margin-bottom: 20px;
}
.Aims-Container p{
    font-size: 23px;
    padding-bottom: 15px;
}
.Aims-Container div{
    width: 70%;
    margin: auto;
    margin-left: 70px;

}
/*.Aim-1{
    width: 70%;
    margin: auto;
    margin-left: 70px;
}
.Aim-2{
    width: 70%;
    margin: auto; 
    margin-left: 70px;
}
.Aim-3{
    width: 70%;
    margin: auto;
    margin-left: 70px;
}
.Aim-4{
    width: 70%;
    margin: auto;
    margin-left: 70px;
}
*/
@media screen and (max-width: 1000px){
.Aims-Container p{
    font-size: 20px;
}
.Aims-Container h3{
    font-size: 22px;
}
}

/*.......This is the Membership Css Comde*/

.Membership-Container{
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 85%;
}
.Membership-Container p{
    color: green;
    margin: 30px 0px 40px 80px ;
    font-size: 23px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-left:rgb(255, 166, 0) solid 3px;
}
.Membership-Container h2{
    color:rgb(255, 166, 0);
    margin-bottom: 20px;
    margin-left: 50px;
}
.Membership-Container h1{
    margin-bottom: 25px;
    font-size: 35px;
}

@media screen and (max-width: 1000px){
.Membership-Container {
    margin-right: 10px;
}
}
/*...........Testimonials....................*/

/*...........Slideshow....................*/

/*...........Stats and Facts....................*/

.Facts-Container{
    background-color: rgb(0, 153, 255);
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    justify-content: space-around;
    margin: 0px 30px;
}
.Facts-Container p{
    padding: 10px 60px;
    font-size: 35px;
    font-weight: bold;
    color: blueviolet;
    width: 200px;
    margin-bottom: 50px;
}
.Stats-Container h1{
    margin: 50px 0px 40px 40px;
    font-size: 40px;
    text-transform: uppercase;
}
.Facts-Container h2{
    padding: 40px 20px 10px 20px;
}
@media screen and (max-width: 1000px){
.Facts-Container{
    display: flex;
    flex-wrap: wrap;
}
.Stats-1{
    flex-basis: 50%;
    padding: auto;
}
.Stats-2{
    flex-basis: 50%
}
.Stats-3{
    flex-basis: 50%;
}
.Stats-4{
    flex-basis: 50%;
    padding: auto;
}
}
/*...........Additional....................*/
div{
    background-color: none;
}