*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px orange solid;
    margin: auto;
    padding: 15px 15px;
    background-color: white;
    width: 95%;
}
/*...........Introduction Part Css....................*/
.container{
   position: relative;
   text-align: center;
}
.container div{
    width: 90vw;
    background-image: url(./IntroBanner.jpg);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: 720px;
    background-size: contain;

}
.Image-Logo{
    width: 250px;
    height: auto;
    align-content: center ;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    margin-bottom: 50px;
}
b{
    font-size: 70px;
    font-weight: bold;
    margin-right: 3px;
}
.Intro-Container{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px 35px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.Border-B{
    border-bottom: 3px solid red;
    margin-top: 30px;
}
em{
    font-size: 45px;
}
.Intro-Banner{

}
.Intro-Banner h1{
    font-size:85px;
    color:rgb(0, 153, 255);
    font-family: Tahoma;
    padding: 35px 0px 15px 0px;
    margin-left: 20px;
    margin-bottom: 30px;
    bottom: 49%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ParImg{
    width: 550px;    
    height: auto;
    padding-left: 35px;
}
.Intro-Container p{
    font-size: 22px;
    margin-bottom: 22px;
    color: rgb(0, 0, 0);
    line-height:35px;
    
}
.Par-Container{
    flex-basis: 60%;
    padding-bottom: 2px;
    padding-top: 20px;
}
.HideImg{
    display: none;
}
.Intro-Container ol{
    margin: 5px 15px;
    padding: 10px 5px;
    width: 95%;
}
.Intro-Container ol li{
    font-size: 22px;
    padding: 10px 10px 5px 0px;
    list-style-type: disc;
    list-style: inside;
    color: rgb(248, 0, 0);
    font-weight: bold;
}
.Activity-list{
   background-color: rgb(253, 164, 0); 
}
.Side-Container{
    flex-basis: 35%;
    height: inherit;
    display: block;
}
.Activity-list{
    margin-left: 10px;
    margin-top: 35px;
}
.Side-Container p{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px 0px 30px;
    margin-bottom: 0px;
}
.Side-Container img{

}
/*.........The Cu Information including Motto, Vision and Mission Statement.......*/

.CuInfo-Container{
 margin: 20px;
 display: flex;
 width: 95%;
 flex-wrap: wrap;
 justify-content: space-around;
}
.CuInfo-Heading{
    color:white;
    font-size: 40px;
    padding-left: 70px;
    text-decoration: underline double;
}
.CuInfo-Container h2{
    font-size: 30px;
    padding: 0px 25px 20px 15px;
}
.CuInfo-Container p{
    color: white;
    font-size: 22px;
    padding: 0px 50px 0px 20px;
    font-weight: bold;
}
.CuInfo-Container div{
    color: White;
    padding: 40px 20px;
    height: 200px;
    height: 90%px;
    
}
.CuInfo-1{
    flex-basis: 35%;
    align-self: auto;
    margin: auto;
    background-color: rgb(17, 17, 124);
}
.CuInfo-2{
    flex-basis: 50%;
    background-color: red;
}
.CuInfo-3{
    
    flex-basis: 60%;
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgb(255, 102, 0);
}

/*....Aims Conatiner......*/

.Aims-Container{
 
 background-color: rgb(255, 255, 255);
 background: url(./ChristianUnionImage3.JPG);
 background-size:cover;
}
.Aims-Heading{
    margin-bottom: 20px;
    font-size: 45px;
    padding:30px 50px;
    color: rgb(243, 78, 18);
}
.CoreValues{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'Times New Roman';
    flex-wrap: wrap;
    background-color: rgba(26, 137, 228, 0.753);
    padding: 30px 0px;
    align-items: stretch;
}
.Aims-Container h3{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: rgb(255, 94, 0);
}
.Aims-Container p{
    font-size: 23px;
    padding: 0px 25px 25px 25px;
    letter-spacing: 3px;
}
.Values{
    margin: 10px 5px 30px 0px;
    background-color: rgb(0, 183, 255);
    flex-basis: 40%;
    padding: 25px; 
}





/* .......The Media Query for change in screen size for the Intro Conateiner;........*/
@media screen and (max-width: 1200px) {
    .Intro-Container p{
        font-size: 17.5px;
    }
    .Intro-Container ol li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1192px) {
    
    .Par-Container{
        flex-basis: 100%;
        width: 95%;
    }
    .Side-Container{
        display: flex;
        flex-basis: 95%;
    }
    .Intro-Container{
        flex-wrap: wrap;
        display: block;
        padding: 0px;
    }
    .ParImg{
        padding-left: 5px;
    }
    .Side-Container ol{
        flex-basis: 60%;
        margin: 5px;
        padding: 10px;
    }
    .Side-Container p{
        margin: 0px 10px 5px 10px;
        padding: 0px 10px;
        font-size: 22px;
    }
    .Side-Container img{
        margin-right: 30px;
        padding-top: 30px;
        width: 65%;
    }
    
}
@media screen and (max-width: 1072px) {
    
}

@media screen and (max-width: 1000px) {
    .Intro-Container p{
        font-size: 17px;
    }
    .Side-Container ol li{
        font-size: 15px;
        margin-left: 0px;
        margin-right: 3px;
    }
    .Side-Container Img{
        width: 90%;
        margin-right: 5px;
    }
    .container img{
    }
    .Intro-Banner H1{
        font-size:40px;
    }
}
@media screen and (max-width: 980px) {
    .Activity-list{
        display: none;
    }
    .Side-Container Img{
        width: 85%;
        margin: auto;
        flex-basis: 95%;
        height: auto;
        align-items: center;
    }
    .Intro-Container p{
        font-size: 17px;
    }
}
@media screen and (max-width: 750px) {
    .Hide-Image{
        display: block;
        width: 95%;
        margin: auto;
        padding: 10px;
    }
    #Hide-Img{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .CuInfo-Container p{
        font-size: 22px;
        word-spacing: 5px;
    }
    .CuInfo-Container{
        display: block;
    }
    .CuInfo-2, .CuInfo-2{
        margin-top: 40px;
    }
}
@media screen and (max-width: 750px){
    .CuInfo-Container p{
        font-size: 20px;
        width:100%;
    }
    .CuInfo-Heading{
        padding-left: 10px;
        font-size: 32px;
}
}
@media screen and (max-width: 500px){
  
    .Intro-Container p{
        font-size: 17px;   
    }
}
@media screen and (max-width: 1050px){
    .CoreValues{
        display: block;
    
    }
    .Values{
        margin: 40px auto;
        width: 65%;
    }
}

@media screen and (max-width: 1000px){
.Aims-Container p{
    font-size: 24px;
}
.Aims-Container h3{
    font-size: 25px;
}

}
@media screen and (max-width: 850px){
    .Aims-Container{
        background-size: 110%;
    }
}
@media screen and (max-width: 500px){
    body{
        border: none;
    }
}