*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px orange solid;
    margin: auto;
    padding: 15px 15px;
    background-color: white;
    width: 95%;
}
/*...........Introduction Part Css....................*/
.Main-Container{
   
}
.Image-Logo{
    width: 250px;
    height: auto;
    align-content: center ;
    margin: 35px 35% 15px 35%;
}
b{
    font-size: 70px;
    font-weight: bold;
    margin-right: 3px;
}
.Intro-Container{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;
   
}
.Border-B{
    border-bottom: 3px solid red;
    margin-top: 30px;
}
.Intro-Banner h1{
    font-size:35px;
    color:rgb(0, 119, 255);
    font-family: Tahoma;
    padding: 35px 0px 15px 0px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.ian{
    width: 400px;    
    height: auto;
    padding-left: 40px;
}
.Intro-Banner{
    background-image: url(./images/ch.JPG);
    height: 120px;
    background-size: contain;
    
}
.Intro-Container p{
    font-size: 20px;
    margin-bottom: 22px;
    color: rgb(0, 0, 0);
    line-height:30px;
    
}
.Par-Container{
    flex-basis: 60%;
    padding-bottom: 2px;
    padding-top: 20px;
}
.Hide-Image{
    display: none;
}
.Intro-Container ol{
    margin: 5px 15px;
    padding: 10px 5px;
    width: 95%;
}
.Intro-Container ol li{
    font-size: 22px;
    padding: 10px 10px 5px 0px;
    list-style-type: disc;
    list-style: inside;
    color: rgb(248, 0, 0);
    font-weight: bold;
}
.Activity-list{
   background-color: rgb(253, 164, 0); 
}
.Side-Container{
    flex-basis: 35%;
}
.Activity-list{
    margin-left: 35px;
    margin-top: 35px;
}
.Side-Container p{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px 0px 30px;
    margin-bottom: 0px;
}
/* .......The Media Query for change in screen size for the Intro Conateiner;........*/
@media screen and (max-width: 1200px) {
    .Intro-Container p{
        font-size: 17.5px;
    }
    .Intro-Container ol li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1192px) {
    
    .Par-Container{
        flex-basis: 95%;     
    }
    .Side-Container{
        display: flex;
        flex-basis: 95%;
    }
    .ian{
        padding-left: 5px;
    }
    .Side-Container ol{
        flex-basis: 60%;
        margin: 5px;
        padding: 10px;
    }
    .Side-Container p{
        margin: 0px 10px 5px 10px;
        padding: 0px 10px;
        font-size: 22px;
    }
    .Side-Container img{
        margin-right: 30px;
        padding-top: 30px;
        height: 400px;
    }
    
}
@media screen and (max-width: 1000px) {
    .Intro-Container p{
        font-size: 17px;
    }
    .Side-Container ol li{
        font-size: 15px;
        margin-left: 0px;
        margin-right: 3px;
    }
    .Side-Container Img{
        width: auto;
        margin-right: 5px;
    }
}
@media screen and (max-width: 980px) {
    .Activity-list{
        display: none;
    }
    .Side-Container Img{
        width: 85%;
        margin: auto;
        flex-basis: 95%;
        height: auto;
    }
    .Intro-Container p{
        font-size: 17px;
    }
}
@media screen and (max-width: 750px) {
    .Hide-Image{
        display: block;
        width: 95%;
        margin: auto;
        padding: 10px;
    }
    #Hide-Img{
        display: none;
    }
}
/*.........The Cu Information including Motto, Vision and Mission Statement.......*/

.CuInfo-Container{
 margin: 20px;
 display: flex;
 width: 95%;
 flex-wrap: wrap;
 justify-content: space-around;
}
.CuInfo-Heading{
    color:rgb(10, 10, 10);
    font-size: 40px;
    padding-left: 70px;
    text-decoration: underline double;
}
.CuInfo-Container h2{
    color:blueviolet;
    font-size: 30px;
    padding: 0px 25px 20px 15px;
}
.CuInfo-Container p{
    color:rgb(0, 0, 0);
    font-size: 25px;
    padding: 0px 50px 0px 20px;
}
.CuInfo-Container div{
    background-color: rgba(252, 80, 0, 0.753);
    padding: 20px;
    height: 90%px;
    
}
.CuInfo-1{
    flex-basis: 35%;
    align-self: auto;
    margin: auto;
}
.CuInfo-2{
    flex-basis: 50%;
}
.CuInfo-3{
    
    flex-basis: 60%;
    margin-top: 40px;
    padding-top: 20px;
}

@media screen and (max-width: 1000px){
.CuInfo-Container{
    display: block;
    margin: 50px auto;
    width: 70%;
}
.CuInfo-2{
    margin-top: 50px;
    height: 100%;
}
}
@media screen and (max-width: 900px){
    .CuInfo-Container p{
        font-size: 22px;
        word-spacing: 5px;
        color: black;
    }
}
@media screen and (max-width: 750px){
    .CuInfo-Container p{
        font-size: 20px;
        color: black;
        width:100%;
    }
    .CuInfo-Heading{
        padding-left: 10px;
        font-size: 32px;
}
}
@media screen and (max-width: 500px){
    .CuInfo-Container{
        height: fit-content;
    }
    .Intro-Container p{
        font-size: 17px;   
    }
}
/*....Aims Conatiner......*/

.Aims-Container{
 padding: 20px;
 background-color: rgb(255, 255, 255);
 margin: 20px auto;
 width: 95%;
}
.Aims-Heading{
    margin-bottom: 20px;
    font-size: 35px;
    padding:30px 50px;
}
.Aims-Container h3{
    font-size: 30px;
    font-family: tahoma;
    margin-bottom: 20px;
    color: orange;
}
.Aims-Container p{
    font-size: 23px;
    padding-bottom: 15px;
}
.Aims-Container div{
    width: 70%;
    margin: auto;
    margin-left: 70px;

}

@media screen and (max-width: 1000px){
.Aims-Container p{
    font-size: 20px;
}
.Aims-Container h3{
    font-size: 22px;
}
}
@media screen and (max-width: 500px){
    body{
        border: none;
    }
}