*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x:  hidden; 
}
.test-div{
    border: 3px greenyellow solid;
    padding: 40px 100px;
    flex: 1;
    min-width: 480px;
    margin: 100px 2px;
}
.test-div p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.test-div h3{
    padding: 4px 10px;
    color: orangered;
    margin: 10px 0px 5px 65px;
    font-size: 20px;
}
.test-div h4{
    padding: 5px 12px 12px 10px;
    color: purple;
    margin-left: 70px;
    margin-bottom: 15px;
}
.test-div img{
    width: 150px;
    border-radius: 50%;
    margin-left: 70px;
}
.Testimonials-Containers{
    display: flex;
    width: 1000px;
}
.Main-Heading {
    font-size: 50px;
    margin: 50px 0px 30px 40px;
    color:  rgb(255,60,77);
}