*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.SupportUs-Container{
<< SupportPlusPayment
   display: flex; 
   width: 100vw;
    height: 600px;
    max-width: 1350px;   
     background-image:url(../Support-Us/ChristianUnionImage3.JPG);
    background-position: center;
    background-size:cover;
}
.Details-Section{
    background-color: rgba(238, 208, 76, 0.651);
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 10px;
    flex-basis: 60%;
}
.Details-Section h1{
    margin: 10px 0px 25px 20px;
    font-size: 50px;
}
.Details-Section p{
    font-family: 'Roboto Slab';
    line-height: 30px;
    margin: 0px 20px 30px 30px;
    word-spacing: 5px;
    color: rgb(45, 42, 90);
}
.Payment-Section{
    background-color: rgba(23, 23, 128, 0.603);
    font-size: 1.3rem;
    padding: 5px;
    flex-basis: 40%;
}
.Payment-Section > div{
    padding:  10px 40px 20px 20px;
    margin: 20px auto;
    background-color: rgb(250, 229, 185);
    width: 80%;
}
.Payment-Section h1{
    font-family: 'Roboto Slab', serif;
    margin-left: 5px;
    margin-bottom: 10px;
}
.Payment-Section p{
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 20px;
}
.Payment-Section p{
    font-size: 25px;
    color: rgb(50, 30, 68);
    margin: 20px 0px 10px 0px;
}
.Payment-Section p:nth-child(1){
    color: rgb(0, 255, 34);
    font-size: 25px;
}
hr{
    bottom: 10px;
    width: 75%;
    height: 5px;
    margin: 5px auto;
    background-color: brown;
}
i{
    color:rgb(8, 8, 83);
}
.Red{
    color: red;
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 25px;
        padding: 0px;
        margin: 0px;
    }
    hr{
        display: none;
    }
    p {
        font-size: 22px;
        padding: 2px;
        margin: 2px;
    }
    .SupportUs-Container{
        display: block;
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
        height: 100%;
    }
    .Payment-cont{
        display: flex;
        flex-direction: row;
    }
    .Payment-cont div:nth-child(1){
        flex-basis: 35%;
    }
    .Payment-cont div:nth-child(2){
        flex-basis: 15%;
    }
    .Payment-cont div:nth-child(3){
        flex-basis:50%;
    }
    Payment-Section p{
        padding: 2px;
        margin: 0px;
    }
.Payment-Section > div{
        padding: 0px;
        margin: 0px 0px 5px 15px;
        width: 95%;
}
}
@media screen and (max-width: 700px) {
    .Payment-cont{
        display: flex;
        flex-direction: column; 
        padding: 10px 150px;
        width: 70%;
        
}
.Payment-cont div{
        margin-left: 50px;
        margin-top: 20px;
}