*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.SupportUs-Container{
    display: flex;
    width: 100%;
    height: 500px;
    max-width: 1300px;
    margin: auto;
    background-image:url(../Support-Us/ChristianUnionImage3.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.First-Section{
    flex-basis: 50%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
    background-color: rgba(53, 163, 190, 0.9);
    padding-right: 30px;
    padding-bottom: 15px
}
.Second-Section{
    flex-basis: 50%;
    background-color:rgba(4, 4, 70, 0.9) ;
}
.First-Section h1{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(231, 38, 38);
}
.First-Section p{
    line-height: 35px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Georgia;
    letter-spacing: 1.4px;
}
.First-Section i{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.First-Section button{
    text-transform: uppercase;
    background-color:  rgb(62, 62, 172);
    color: rgb(251, 255, 0);
    padding: 12px 25px;
    font-size: 19px;
    font-weight: bolder;
    border-radius: 33px;
    box-shadow: 4px 1px 2px 1px rgba(34, 23, 138, 0.863);
    margin-left: 40px;
    cursor: pointer;
}
.First-Section button:hover{
    background-color: rgb(0, 255, 242);
    color: rgb(132, 0, 255);
    box-shadow:inset;
    transform: translateY(-5px);
}
.Second-Section b:nth-child(1){
    background-color: rgba(255, 214, 248, 0.233);
}
.Second-Section button{
    background-color: rgb(142, 49, 230);
    padding: 12px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 35px;
    font-weight: bold;
    font-family: Times New Roman, Times, serif;
    font-size: 21px;
    outline-offset: 4px;
    box-shadow: 2px 2px 4px;
    color: rgb(231, 226, 243);
    cursor: pointer;
}
.Second-Section button:hover{
    background-color: brown;
    color: aqua;
    transform: translateY(-4px);
}
.Second-Section p{
    color: rgba(252, 220, 197, 0.911);
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 35px;

}
hr{
    width: 90%;
    align-items: center;
    height: 5px;
    margin: 20px auto;
    background-color: rgb(153, 241, 153);
    border-radius: 3px;
}
#First-Paragraph{
    padding: 5px 60px 0px;
}
#Second-Paragraph{
   padding: 0px 60px 0px;
}

@media only screen and (max-width: 1100px) {
    
    #Screen-Size {
        width: 95%;
        display: block !important;
        background-image: url(../Support-Us/ChristianUnionImage3.JPG);
        background-size:contain ;
        background-repeat: repeat;
        height: 100%;
        
    }
    .First-Section{
    padding-bottom: 30px;
    background-color:rgba(26, 184, 224, 0.877) ; 
    }
    .First-Section h1{
        padding-top: 25px;
    }
    .Second-Section{
    padding-bottom: 0px;
    background-color:rgba(17, 17, 88, 0.897)  !important;   
    }
#First-Paragraph{
    padding-top: 40px;
    }
    hr{
        display: none;
    }
}